*{
    margin: 0;
    padding: 0;
}

.container{
    width:100%;
    height: 100vh;
    background-color: rgb(234, 223, 16);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:0;
}
.weather_container{
    color: rgb(85, 87, 88)
}

.temp{
    font-size: 50px;
    font-weight: bolder;
    font-family: sans-serif;;
}

.time_location{
    font-size:5rem;
}
.condition{
    margin:1rem;
    font-size:20px
}
nav{
    height:50px;
    margin:50px;
}
.search_field{
    padding:8px 30px;
    border:1px solid orange;
    border-radius:8px;
    outline:none;

}
button{
    background-color: rgb(29, 115, 207);
    color:white;
    font-weight: bold;
    padding:8px 10px;
    border:1px solid orange;
    border-radius:8px;
}